<div class="mdl-layout mdl-js-layout">
    <header  class="mdl-layout__header">
        <div class="mdl-layout__header.row">           
            <mat-toolbar  color="primary" class="menuHeader mdl-layout-col">
                <button mat-icon-button class="butaoMenu" aria-label="Example icon-button with menu icon">
                  <mat-icon class="iconPrincipal">menu</mat-icon>
                  <span class="mdl-layout-title">Liberdade</span>
                </button>
            </mat-toolbar>
        </div>
    </header>
</div>

